
{% load i18n %}
{% block content %}


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


 <!---<span><img src="http://hayfieldanimalhospital.com/communities/0/000/001/648/630/images/8909132.png" >-->
 <center><h1 style="font-family: 'Script MT Bold'" ><span>{% block title %}{% trans "Log in" %}{% endblock %}</span></h1>
    <h1 style="font-family: 'Script MT Bold'"><span> En veterinaria</span></h1></center>


   <center> <img src="https://png.icons8.com/ultraviolet/1600/person-male.png"  class="img-circle" alt="Cinque Terre" width="150" height="150" solid="color: #000000">
    
    <br>
    <br>
        <form method="post" action="">
            {% csrf_token %}
                {{ form.as_p }}
                 <input type="submit" class="btn btn-outline-success" value="{% trans 'Log in' %}" />
                <br>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
                     <p>{% trans "Forgot your password?" %} <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>.</p>
                     <p>{% trans "Not a member?" %} <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>.</p>
                     
                     <center><a class="btn btn-danger btn-circle btn-xl" href="{% url 'social:begin' 'google-oauth2' %}">
                        <i class="fa fa-google">Google</i></center></a>
                        
                     
                                          
</center>
<body>
<hr>

{% endblock %}


{% comment %}
**registration/login.html**

It's your responsibility to provide the login form in a template called
registration/login.html by default. This template gets passed four
template context variables:

``form``
    A Form object representing the login form. See the forms
    documentation for more on Form objects.

``next``
    The URL to redirect to after successful login. This may contain a
    query string, too.

``site``
    The current Site, according to the SITE_ID setting. If you don't
    have the site framework installed, this will be set to an instance
    of RequestSite, which derives the site name and domain from the
    current HttpRequest.

``site_name``
    An alias for site.name. If you don't have the site framework
    installed, this will be set to the value of
    request.META['SERVER_NAME']. For more on sites, see The
    "sites" framework.
{% endcomment %}
