
{% load i18n %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<br>
<center>
    <br>
<h2><span>{% block title %}{% trans "Logged out" %}{% endblock %}</span></h2>

{% block content %}
    <p>{% trans "Successfully logged out" %}.</p>
    <img src="https://png.icons8.com/ultraviolet/1600/close-sign.png" width="150" height="150">
<br>
    <a class="btn btn-outline-success" href="{% url 'auth_login' %}">volver</a>
{% endblock %}
</center>

<hr>
{% comment %}
**{% url 'auth_password_reset' %}**
{% endcomment %}