
{% load i18n %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<h2><span><center>{% block title %}{% trans "Reset password" %}{% endblock %}</center></span></h2>

<br>

{% block content %}
<center>
        <img src="https://st2.depositphotos.com/5266903/7830/v/950/depositphotos_78309260-stock-illustration-refresh-flat-blue-color-icon.jpg" width="150" height="150" >
<table WIDTH="800">
    <tr>
        <td>
        <p>
            {% blocktrans %}
            Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
            {% endblocktrans %}
        </p>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-secondary btn-lg" value="{% trans 'Reset password' %}" />
        </form>
        </td>
</tr>
</table>
</center>
<center>
        <br>
        <a   class="btn btn-outline-success" href="{% url 'auth_login' %}">volver</a>
</center>

<hr>

{% endblock %}


{# This is used by django.contrib.auth #}
