
{% load i18n %}
<span class="border border-light">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<center>
    <h2><span>{% block title %}{% trans "Register for an account" %}{% endblock %}</span></h2></span>
    <img src="https://png.icons8.com/ultraviolet/1600/add-user-male.png" width="150" height="150">
</center>
<br>

{% block content %}

<center><table  bgcolor="#AED6F1" WIDTH="800">
    <tr>
        <td>
     <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <center><input type="submit" class="btn btn-primary"  value="{% trans 'Submit' %}" /></center>
       
    </form>
    </td>
    </tr>
</table>
</center>
<br>
<center>
    <a class="btn btn-outline-success" href="{% url 'auth_login' %}">volver</a>
</center>
<hr>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
