{% load adminlte_helpers %}
<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar" >
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" >
        <!-- Sidebar user panel -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        {% block user_panel %}
        <div class="user-panel"  >
            <div class="pull-left image">
                <img src="{% avatar_url size=90 %}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{% firstof request.user.get_full_name request.user.username %}</p>
            </div>
        </div>
        {% endblock %}

        {% block form %}{% endblock %}

        <!-- sidebar menu: : style can be found in sidebar.less -->
        {% block nav_links_ul %}
        <ul class="sidebar-menu"  >
            {% block nav_links_outer %}
            <li class="header" >{% block nav_heading %}MAIN NAVIGATION{% endblock %}</li>

            {% block nav_links %}
              <!-- <li>
                    <a href="{% url 'mascot_register' %}">
                            <i class="fa fa-paw" aria-hidden="true"></i><span>mascota</span>
                            
                    </a>
                </li>-->
                <!------------------------------------Cliente------------------------------------------->
                <li class="treeview">
                        <a href="#">
                                <i class="fa fa-user-tie"></i><span>Cliente</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                    <a href="{% url 'client_register' %}">
                                        <i class="fa fa-user-tie"></i></i><span>Cliente</span>
                                </a>
                            </li>
                            <li>
                                    <a href="{% url 'client_list' %}">
                                    <i class="fa fa-list-alt" aria-hidden="true"></i><span>Lista clientes</span>
                                 </a>
                            </li>
                            <li>
                                    <a href="{% url 'solicitudCita_register' %}">
                                        <i class="fa fa-file-alt"></i><span>Solicitud</span>
                                 </a>
                            </li>
                                <li>
                                    <a href="{% url 'solicitudCita_list' %}">
                                    <i class="fa fa-list-alt" aria-hidden="true"></i><span>Lista Solicitud</span>
                                 </a>
                            </li>

                        </ul>
                    </li>

                 <!------------------------------Mascota-------------------------------------->
                <li class="treeview">
                    <a href="#">
                            <i class="fa fa-paw" aria-hidden="true"></i><span>mascota</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                                <a href="{% url 'mascot_register' %}">
                                    <i class="fa fa-paw" aria-hidden="true"></i><span>mascota</span>
                            </a>
                        </li>
                        
                        <li>
                                <a href="{% url 'mascot_list' %}">
                                <i class="fa fa-list-alt" aria-hidden="true"></i><span>Lista demascota</span>
                             </a>
                        </li>
                        <li>
                                <a href="{% url 'vacuna_register' %}">
                                <i class="fa fa-syringe"></i><span> Vacunas </span>
                             </a>
                        </li>
                        <li>
                                <a href="{% url 'vacuna_list' %}">
                                <i class="fa fa-list-alt" aria-hidden="true"></i><span>Lista vacunas</span>
                         </a>
                     </li>
                    <li>
                                <a href="{% url 'tipoMasct_register' %}">
                                   <i class="fa fa-horse"></i><span>Tipo mascota</span>
                            </a>
                    </li>

                    </ul>
                    
                
                </li>


                <!--------------------------------------Medico-------------------------------------->
                <li class="treeview">
                        <a href="#">
                                <i class="fa fa-user-md"></i><span>Medico</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                    <a href="{% url 'medico_register' %}">
                                            <i class="fa fa-user-md"></i><span>Medico</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'medico_list' %}">
                                <i class="fa fa-list-alt" aria-hidden="true"></i><span>Lista  de Medicos</span>
                         </a>
                        </li>

                            <li>
                                    <a href="{% url 'diagnostico_register' %}">
                                    <i class="fa fa-notes-medical"></i><span>Diagnostico</span>
                                 </a>
                            </li>
            
                          <li>
                                <a href="{% url 'diagnostico_list' %}">
                                <i class="fa fa-list-alt" aria-hidden="true"></i><span>Lista Diagnostico</span>
                         </a>
                     </li>



                        </ul>
                    </li>
                        
            {% endblock nav_links %}
            {% endblock nav_links_outer %}
        </ul>
        {% endblock nav_links_ul %}
    </section>
    <!-- /.sidebar -->
</aside>
