{% extends 'adminlte/base.html' %}

{% block title %}Mascota{% endblock %}

{% block content %}
   

    <div class="container">
        {% block section %}
        {% endblock section %}
    </div>
    <div class="container">
        {% block maincontent %}
        {% endblock maincontent %}
    </div>
  
{% endblock %}