{% extends 'base.html' %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>



{% block content %}

<style>
h1,th,td,h5{
text-align: center;
}
</style>




<div class="row well"  style="background-color:#FFFDFD">
    <div class="col-md-16 well" style="background-color:#FFFDFD">
    <h1 style="font-family: 'Script MT Bold'"><span>Lista de medicos</span></h1>
	<hr>

            <table class="table" solid="color: #151515">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>ID</th>
                            <th>Cedula</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Telefono</th>
                            <th>Email</th>
                            <th>Numero registro diploma</th>
                            <th>Modificar</th>
            
                        </tr>
                    </thead>
                    <tbody>
                        {% if objects_list%} 
                        {% for medico_list in objects_list %} 
                        <tr>
                            <td>#</td>
                            <td>{{medico_list.id}}</td>
                            <td>{{medico_list.cedula}}</td>
                            <td>{{medico_list.nombre}}</td>
                            <td>{{medico_list.apellido}}</td>
                            <td>{{medico_list.telefono}}</td>
                            <td>{{medico_list.email}}</td>
                            <td>{{medico_list.numero_registro_diploma}}</td>
                            
                            <td>
                                
                                    <a   class="btn btn-default " href="{% url 'medico_detail' medico_list.id %}"><span class="fas fa-pencil-alt"></span></a>
						                <br>
						            <a  class="btn btn-default" href="{% url 'medicoDelete' medico_list.id %}" ><span class="fas fa-trash-alt" ></span></a>
                               
                            </td>
                        </tr>
                       {%endfor%}
                       {%else%}
                       <h1 style="font-family: 'Script MT Bold'">No existe medicos registradas</h1>
                       {%endif%} 
                    </tbody>   
            </table>

           <h5><span>Adicionar un nuevo medico</span></h5>
                    <center><a class="fa fa-user-md" href="{% url 'medico_register' %}" ></a></center>
           

    </div>    
</div>


{% endblock %}