{% extends "base.html" %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

{% block content %}


    <div class="row well"  style="background-color:#EFF8FB">
        <div class="col-md-4 well" style="background-color:	#FFFFFF" >
     
	<hr>
            <form action="" method="post">{% csrf_token %}
            <center> <img src="https://png.pngtree.com/element_our/png_detail/20180926/pets-vector-logo-template-this-cat-and-dog-logo-could-be-png_113817.jpg"  width="150" height="150">
                    <h2>Desea eliminar la mascota"{{ object.nombre }}"?</h3>
                    <input  class="btn btn-success" type="submit" value="Confirm" />
                    <a class="btn btn-danger" href="{% url 'mascot_list' %}">Cancel</a>
                </center>
            </form>
        </div>
    </div>
    
{% endblock %}