{% extends "base.html" %}


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% block content %}


<style>
	h1,th,td{
	text-align: center;
}
</style>
<div class="row well" style="background-color:#FFFDFD">
<div class="col-md-16 well" style="background-color:#FFFDFD">
<center><img src="http://mascoticasvillena.com/wp-content/uploads/2017/02/03cachorros.jpg"  width="940" height="140"></center>
<h1 style="font-family: 'Script MT Bold'"><span>Lista de las  mascotas</span></h1>
<hr>
	<table class="table" solid="color: #151515">
		<thead >
			<tr>
			
					<th>#</th>
					<th>ID</th>
					<th>Tipo de mascota</th>
					<th>Raza</th>
					<th>Nombre</th>
					<th>Sexo</th>
					<th>Edad</th>
					<th>fecha</th>
					<th>Persona</th>
					<th>Vacunas</th>
					<th>solicitud cita</th>
					<th>Modificar</th>
					
			</tr>	
		</thead>
		<tbody>	
			{% if objects_list %}
			{% for mascot_list in  objects_list %}
			<tr>
				<td>#</td>
				<td>{{mascot_list.id}}</td>
				<td>{{mascot_list.tipoMascot}}</td>
				<td>{{mascot_list.raza}}</td>
				<td>{{mascot_list.nombre}}</td>
				<td>{{mascot_list.sexo}}</td>
				<td>{{mascot_list.edad}}</td>
				<td>{{mascot_list.fecha_y_horario_de_ingreso}}</td>
				<td>{{mascot_list.persona}}</td>
				<td>
							<ul>{%  for vacuna in mascot_list.vacunas.all %}
									
								{{vacuna.nombre}}
								<br>
							
								{%endfor%}
							</ul>
						
					</td>
				<td>{{mascot_list.solicitudCita}}</td>
				<td>
					
						<a   class="btn btn-default " href="{% url 'mascot_detail' mascot_list.id %}"><span class="fas fa-pencil-alt"></span></a>
						<br>
						<a  class="btn btn-default" href="{% url 'mascot_delete' mascot_list.id %}" ><span class="fas fa-trash-alt" ></span></a>
					
				</td>
	
			</tr>
			{%endfor%}
			{%else%}
			<h1 style="font-family: 'Script MT Bold'">No existe mascotas registradas</h1>
			{% endif %}
		</tbody>
	</table>

	<center><h5><span>Adicionar  mas datos</span></h5>
		<a class="fa fa-paw" aria-hidden="true" href="{% url 'mascot_register' %}" ></a>
		<a class="fa fa-syringe" href="{% url 'vacuna_register' %}" ></a>
		<a class="fa fa-horse" href="{% url 'tipoMasct_register' %}" ></a>	
		<a class="fa fa-user-tie" href="{% url 'client_register' %}" ></a>
	
		</center>

</div>	
</div>
{% endblock %}