{% extends "base.html" %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

{% block content %}

<style>
h1{
text-align: center;
}

</style>
<body>
<div class="row well" style="background-color:#FFFDFD">
    <div class="col-md-6 well"  style="background-color:#FFFDFD">
	<center><img src="http://dqcertificaciones.eu/wp-content/uploads/2017/05/que-est-t%C3%A9cnico-veterinario-916x445.jpg"  width="300" height="150"></center>
	<h1 style="font-family: 'Script MT Bold'"><span>Registro del mascota</span></h1>
	<hr>
		<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
				<div class="col-md-8 col-md-offset-2">
				<div class="form-group">
				<center><button class="btn btn-success" type="submit">Guardar</button></center>
			</div>
		</div>
		</form>
		
	</div>
<div>	
<body>
{% endblock %}