{% extends "base.html" %}


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% block content %}

<style>
table, th, td,h1 {
   
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}
</style>
<div class="row well" style="background-color:#FFFDFD">
    <div class="col-md-6 well" style="background-color:#FFFDFD">
	<center><img src="https://www.infobae.com/new-resizer/36boRwpmemJ9T7TVOjI7JASwtqA=/600x0/filters:quality(100)/arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/OTXGFNP3BBCGTA23GEAI4UY77U"  width="300" height="120"></center>
	<h1 style="font-family: 'Script MT Bold'"><span>Lista de vacunas</span></h1>
	
<hr>
 <table class="table" solid="color: #151515" >
	
            <thead >
                <tr>
                    <th>#</th>
                    <th>ID</th>
                    <th>Vacuna</th>
					<th>Modificar</th>
                    
                </tr>	
            </thead>
            <tbody>	
			{% if objects_list %}
			{% for vacuna_list in  objects_list %}
			<tr>
				<td>#</td>
				<td>{{vacuna_list.id}}</td>
				<td>{{vacuna_list.nombre}}</td>
				
				<td>
					<center>
						<a class="btn btn-default " href="{% url 'vacuna_detail' vacuna_list.id %}"><span class="fas fa-pencil-alt"></span></a>
						<br>
						<a  class="btn btn-default" href="{% url 'vacunaDelete' vacuna_list.id %}" ><span class="fas fa-trash-alt" ></span></a>
						
						
					</center>
				</td>
	
			</tr>
			{%endfor%}
			{%else%}
			<h1 style="font-family: 'Script MT Bold'">No existe vacunas registradas</h1>
			{% endif %}
		</tbody>
	</table>

		<center><h4><span>Adicionar nueva vacuna</span></h4>
		<a class="fa fa-syringe" href="{% url 'vacuna_register' %}" ></a>	
		</center>


    </div>
</div>

{% endblock %}