{% extends "base.html" %}

{% block content %}



<style>
h1{
text-align: center;
}
</style>

<div class="row well"  style="background-color:#FFFDFD">
    <div class="col-md-6 well" style="background-color:#FFFDFD">
	    <center><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxmyofTKok113NrTwE9LjlTYHPf0vKWNfiTXl0DkHrNmmPu5O2Xg"  width="160" height="120 "></center>	
	<h1 style="font-family: 'Script MT Bold'"><span>Registro del cliente</span></h1>
	 <hr>
		<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<center><button type="submit"class="btn btn-success">Registrar</button></center>
		</form>
	</div>
</div>

{% endblock %}