{% extends 'base.html' %}

<style>
table, th, td,{
   
    border-collapse: collapse;
    padding: 7px;
    text-align: center;
}

</style>




{% block content %}
<div class="row well"  style="background-color:#FFFDFD">
    <div class="col-md-12 well" style="background-color:#FFFDFD">
    <center><h1 style="font-family: 'Script MT Bold'"><span>Listado de clientes</span></h1></center>
     <hr>
            <table class="table" solid="color: #151515">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>ID</th>
                            <th>Cedula</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Fecha de nacimiento</th>
                            <th>Telefono</th>
                            <th>Email</th>
                            <th>Dirección</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if objects_list%} 
                        {% for client_list in objects_list %} 
                        <tr>
                            <td>#</td>
                            <td>{{client_list.id}}</td>
                            <td>{{client_list.cedula}}</td>
                            <td>{{client_list.nombre}}</td>
                            <td>{{client_list.apellido}}</td>
                            <td>{{client_list.fecha_de_nacimiento }}</td>
                            <td>{{client_list.telefono}}</td>
                            <td>{{client_list.email}}</td>
                            <td>{{client_list.direccion}}</td>
                            <td>
                                <a class="btn btn-default"   href="{% url 'client_detail' client_list.id %}"><span class="fas fa-pencil-alt"></span></a>
                                <br>
                                <a class="btn btn-default"  href="{% url 'clientDelete' client_list.id %}"><span class="fas fa-trash-alt" ></a>
                              
                               
                            </td>
                        </tr>
                       {%endfor%}
                       {%else%}
                       <h1> no hay pan caliente</h1>
                       {%endif%} 
                    </tbody>   
            </table>
            <center><h5><span>Adicionar un nuevo cliente</span></h5>
                <a class="fa fa-user-tie" href="{% url 'client_register' %}" ></a>	
		</center>
    </div>    
</div>

{% endblock %}