{% extends 'base.html' %}


{% block content %}

<style>
h1,th,td,h5{
text-align: center;
}

</style>


<div class="row well"  style="background-color:#FFFDFD">
    <div class="col-md-16 well" style="background-color:#FFFDFD">
    <h1 style="font-family: 'Script MT Bold'"><span>Listado de solicitudes</span></h1>
    <hr>
            <table class="table" solid="color: #151515">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>ID</th>
                            <th>Persona</th>
                            <th>Numero de mascota a ingresar</th>
                            <th>razones</th>
                            <th>Modificar</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% if objects_list%} 
                        {% for solicitudCita_list in objects_list %} 
                        <tr>
                            <td>#</td>
                            <td>{{solicitudCita_list.id}}</td>
                            <td>{{solicitudCita_list.persona}}</td>
                            <td>{{solicitudCita_list.numero_mascota_a_ingresar}}</td>
                            <td>{{solicitudCita_list.razon }}</td>
                           
                            <td>
                              
                                    <a  class="btn btn-default"href="{% url 'solicitudCita_detail' solicitudCita_list.id %}"><span class="fas fa-pencil-alt"></span></a>
                                    <br>
                                    <a  class="btn btn-default" href="{% url 'solicitudCitaDelete' solicitudCita_list.id %}" ><span class="fas fa-trash-alt" ></a>

                                                 
                            </td>
                        </tr>
                       {%endfor%}
                       {%else%}
                       <h1> no hay solicitudes de citas </h1>
                       {%endif%} 
                    </tbody>   
            </table>
               <h5><span>Adicionar  mas datos</span></h5>
                     <center><a class="fa fa-list-alt" aria-hidden="true" href="{% url 'solicitudCita_register' %}" ></a>
                        <a class="fa fa-user-tie" href="{% url 'client_register' %}" ></a>	
		            </center>
    </div>    
</div>

{% endblock %}